@import 'config';
@import 'main';
@import 'base';
@import 'reset';

html {
	height: 100%;
}

body {
	height: 100%;
}

nav {
	text-transform: uppercase;
	z-index: 10;
	position: absolute;
	top: 50px;
	right: 100px;
	display: inline-block;
}

nav ul li {
	display: inline;
	margin-left: 30px;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

	&:hover {
		border-bottom: 1px solid $white;

	}
}

nav a {
	text-decoration: none;
	color: $white;
}

header {
	height: 100%;
	color: $white;

	h1 {
		color: $white;
	}
}

.hero-bg {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
	text-align: center;
	padding: 0 10em;
	background: url('../img/hero-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.hero-bg:after {
		content: "";
		background: $color-gradient;
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.9;
	}

.headline {
	position: absolute;
	width: 70%;
	top: 45%;
	margin: 0 auto;
}

.show-work {
	padding: 100px 0;
	background: #fafafa;

	& .row {

	}

	& h2 {
		font-size: 30px;
		color: $color-parkhound;
		margin: 0;
	}

	& .showcase {
		position: relative;
		background: $white;
		border: $br--default;
		height: 500px;
		width: 510px;

	}
}
